@media screen and (min-width: 320px) {
  html {
    font-size: 21.33333333px;
  }
}
@media screen and (min-width: 360px) {
  html {
    font-size: 24px;
  }
}
@media screen and (min-width: 375px) {
  html {
    font-size: 25px;
  }
}
@media screen and (min-width: 400px) {
  html {
    font-size: 26.66666667px;
  }
}
@media screen and (min-width: 384px) {
  html {
    font-size: 25.6px;
  }
}
@media screen and (min-width: 540px) {
  html {
    font-size: 38px;
  }
}
@media screen and (min-width: 720px) {
  html {
    font-size: 38px;
  }
}
@media screen and (min-width: 750px) {
  html {
    font-size: 38px;
  }
}
