@media screen and (min-width: 320px) {
  html {
    font-size: 21.33333333px;
  }
}
@media screen and (min-width: 360px) {
  html {
    font-size: 24px;
  }
}
@media screen and (min-width: 375px) {
  html {
    font-size: 25px;
  }
}
@media screen and (min-width: 400px) {
  html {
    font-size: 26.66666667px;
  }
}
@media screen and (min-width: 384px) {
  html {
    font-size: 25.6px;
  }
}
@media screen and (min-width: 540px) {
  html {
    font-size: 36px;
  }
}
@media screen and (min-width: 720px) {
  html {
    font-size: 48px;
  }
}
@media screen and (min-width: 750px) {
  html {
    font-size: 50px;
  }
}
* {
  box-sizing: border-box;
}
html,
body {
  min-width: 320px;
  width: 15rem;
  margin: 0 auto;
  padding: 0;
  font-family: '微软雅黑';
  background: #f2f2f2;
  color: #282828;
  position: relative;
  height: 100vh;
  background-image: url("../img/yinyuanresoul bg.png");
}
body::before {
  display: table;
  content: "";
}
.topHeader {
  background: #fff;
  width: 15rem;
  height: 1.8rem;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 99;
}
.topHeader .topContent {
  padding: 0 0.48rem;
  display: flex;
  justify-content: space-between;
}
.topHeader .topContent .headerTittle {
  line-height: 1.8rem;
}
.banner {
  margin-top: 1.8rem;
  width: 100%;
  height: 7.8rem;
}
.banner img {
  width: 100%;
  height: 100%;
}
.content::before {
  display: table;
  content: '';
}
.content {
  width: 15rem;
  text-align: center;
}
.content .register {
  width: 11.44rem;
  height: 6.28rem;
  background: #FEFDFA;
  border-radius: 0.2rem;
  margin: 0.8rem auto;
  display: flex;
  align-items: center;
}
.content .register ul {
  list-style: none;
}
.content .register ul li {
  display: flex;
  align-items: center;
  height: 1.6rem;
}
.content .register ul li span {
  font-size: 0.64rem;
  font-family: Source Han Sans CN;
  font-weight: 400;
  color: #DB678F;
}
.content .register ul li input::-webkit-input-placeholder {
  color: #dddddd;
  /* placeholder颜色  */
  font-size: 0.44rem;
}
.content .register ul li input {
  border: none;
  border-bottom: 0.02rem solid #FEA0B2;
  outline: none;
  text-align: center;
  line-height: 0.72rem;
  width: 5.2rem;
  color: #6D3C1E;
  opacity: 0.8;
  font-size: 0.68rem;
}
.content .register ul li .noscale {
  font-size: 0.44rem;
}
.content .register ul li .otherColor {
  color: #DB678F;
}
.content .result span {
  display: block;
  text-align: center;
}
.content .result span:nth-child(1) {
  color: #DB678F;
  font-size: 0.68rem;
  margin-bottom: 0.8rem;
}
.content .result span:nth-child(2) {
  padding: 0 1.4rem;
  color: #8A634A;
  font-size: 0.52rem;
}
.dialogvisible {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #000000;
  opacity: 0.8;
  z-index: 1000;
}
.dialogvisible .content {
  position: absolute;
  top: 5.64rem;
  left: 50%;
  transform: translateX(-50%);
  width: 10.4rem;
  height: 12.72rem;
  opacity: 0.54;
  border-radius: 10px;
}
.dialogvisible .content .content-cloose {
  width: 100%;
  height: 0.92rem;
  padding-right: 0.12rem;
  margin-right: 0;
}
.dialogvisible .content .content-cloose img {
  height: 0.92rem;
  height: 100%;
}
