@media screen and (min-width: 320px) {
  html {
    font-size: 21.33333333px;
  }
}
@media screen and (min-width: 360px) {
  html {
    font-size: 24px;
  }
}
@media screen and (min-width: 375px) {
  html {
    font-size: 25px;
  }
}
@media screen and (min-width: 400px) {
  html {
    font-size: 26.66666667px;
  }
}
@media screen and (min-width: 384px) {
  html {
    font-size: 25.6px;
  }
}
@media screen and (min-width: 540px) {
  html {
    font-size: 36px;
  }
}
@media screen and (min-width: 720px) {
  html {
    font-size: 48px;
  }
}
@media screen and (min-width: 750px) {
  html {
    font-size: 50px;
  }
}
* {
  box-sizing: border-box;
}
html,
body {
  touch-action: none;
  touch-action: pan-y;
  min-width: 320px;
  max-width: 750px;
  margin: 0 auto;
  padding: 0;
  font-family: 'Microsoft Yahe';
  background: #f2f2f2;
  color: #282828;
  position: relative;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
ul li {
  list-style: none;
}
body::before {
  display: table;
  content: "";
}
.banner {
  position: relative;
}
.banner .banner-circle {
  position: absolute;
  bottom: 5px;
  left: 0;
  right: 0;
  color: #fff;
}
.banner .banner-circle li {
  display: inline-block;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  padding: 5px;
  margin: 2px;
}
.banner .banner-circle ul {
  text-align: center;
}
.banner .banner-circle .selected {
  background: rgba(0, 0, 0, 0.8);
}
.banner img {
  width: 100%;
  margin: 0;
  padding: 0;
  box-shadow: 0px 5px 14px #ccc;
}
.nav {
  width: 100%;
  display: flex;
  padding: 0.5rem 0;
  background: #fff;
  margin-top: 0.3rem;
}
.nav a {
  width: 25%;
  text-align: center;
}
.nav a img {
  width: 1.24rem;
  height: 1.24rem;
}
.nav a span {
  font-size: 0.4rem;
  color: #282828;
  display: block;
}
.ad {
  background: #fff;
  margin-top: 0.48rem;
}
.ad .heng {
  width: 2rem;
  height: 0.04rem;
  background: #282828;
}
.ad .item {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0.4rem 0;
}
.ad .item-title {
  font-size: 0.64rem;
  padding: 0 0.4rem;
}
.ad img {
  width: 100%;
  display: block;
}
.footer {
  margin-top: 0.48rem;
  background: #fff;
  padding: 0.3rem 0;
  text-align: center;
  font-size: 14px;
}
.XZ-banner {
  width: 100%;
}
.XZ-banner img {
  width: 100%;
  display: block;
}
.XZ-warp {
  padding-bottom: 1rem;
  background: -ms-linear-gradient(top, #040825, #1F1240);
  /* IE 10 */
  background: -moz-linear-gradient(top, #040825, #1F1240);
  /*火狐*/
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#1F1240), to(#040825));
  /*谷歌*/
}
.XZ-warp .XZ-choose-tittle {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0.68rem 0;
}
.XZ-warp .XZ-choose-tittle .XZ-heng {
  width: 2rem;
  height: 0.04rem;
  background: #CCA455;
}
.XZ-warp .XZ-choose-tittle .XZ-choose-tittle {
  font-size: 0.68rem;
  color: #CCA455;
  padding: 0 0.4rem;
}
.XZ-warp .XZ-allXingZuo {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
}
.XZ-warp a {
  width: 25%;
  text-align: center;
  margin-top: 0.6rem;
}
.XZ-warp a img {
  width: 2.48rem;
  height: 2.48rem;
}
.XZ-warp a span {
  display: block;
  font-size: 0.52rem;
  color: #fff;
}
.XZ-Analysis {
  padding-bottom: 0.44rem;
  background: url('../img/AnalysisBg.png') center center no-repeat;
  background-size: 100% 100%;
}
.XZ-Analysis-Top {
  padding-top: 1.8rem;
  text-align: center;
}
.XZ-Analysis-Top img {
  width: 4.24rem;
  height: 4.8rem;
}
.XZ-Analysis-Top span {
  display: block;
  font-size: 0.52rem;
  color: #CCA455;
}
.XZ-AnalysisMiddle {
  background: #040825;
  padding: 0 15px 1rem;
}
.XZ-AnalysisMiddle .XZ-item {
  box-sizing: border-box;
  padding: 1rem 0 1rem;
  overflow: hidden;
  background: url('../img/AnalysisMiddle1.png') center top no-repeat;
  height: 10rem;
  background-size: 100%;
}
.XZ-AnalysisMiddle .XZ-item li {
  margin-left: 0.3rem;
  margin-top: 0.4rem;
  width: 22%;
  float: left;
  background: rgba(31, 18, 64, 0.7);
  padding: 0.6rem;
  height: 3.4rem;
  border-radius: 10px;
  text-align: center;
  box-sizing: border-box;
}
.XZ-AnalysisMiddle .XZ-item li span {
  font-size: 0.4rem;
  color: #fff;
  display: inline-block;
  line-height: normal;
}
.XZ-AnalysisMiddle .XZ-item li p {
  font-size: 0.44rem;
  color: #F8CB71;
  padding-top: 0.2rem;
}
.XZ-AnalysisMiddle .XZ-item::after {
  clear: both;
}
.XZ-AnalysisMiddle .XZ-fenxi {
  margin-top: 0.8rem;
  background: rgba(31, 18, 64, 0.7);
  padding: 0.7rem 0.56rem;
}
.XZ-AnalysisMiddle .XZ-fenxi .XZ-fenxi-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px dotted #fff;
  padding-bottom: 0.2rem;
}
.XZ-AnalysisMiddle .XZ-fenxi .XZ-fenxi-top h1 {
  font-size: 0.64rem;
  color: #F8CB71;
}
.XZ-AnalysisMiddle .XZ-fenxi .XZ-fenxi-top img {
  width: 0.56rem;
  height: 0.56rem;
}
.XZ-AnalysisMiddle .XZ-fenxi .XZ-fenxi-content {
  padding: 20px 0;
  font-size: 0.6rem;
  line-height: 0.83333333rem;
  color: #fff;
}
.HH-banner {
  width: 100%;
}
.HH-banner img {
  display: block;
  width: 100%;
}
.mt10 {
  margin-top: 10px;
}
.mt40 {
  margin-top: 40px;
}
.HH-info {
  text-align: center;
  padding-bottom: 1rem;
  background: url('../img/HH-Bg.png') center top repeat;
  background-size: 100%;
}
.HH-info .HH-info-tittle {
  width: 8.6rem;
  margin-left: 3.2rem;
}
.HH-info .HH-info-tittle img {
  width: 100%;
}
.HH-info .HH-man-info {
  margin-left: 1.8rem;
  margin-right: 1.8rem;
  padding: 0.6rem 0.8rem;
  box-sizing: border-box;
  background: #FEE7D0;
  border-radius: 10px;
}
.HH-info .HH-man-info .HH-info-input {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.HH-info .HH-man-info .HH-info-input label {
  font-size: 0.64rem;
  color: #930507;
}
.HH-info .HH-man-info .HH-info-input input {
  width: 4rem;
  border: none;
  line-height: 32px;
  background: none;
  border-bottom: 1px solid #D4B495;
  padding-left: 0.4rem;
  font-size: 0.44rem;
}
.HH-info .HH-man-info h2 {
  color: #930507;
  font-size: 0.64rem;
  font-weight: normal;
}
.HH-info .HH-man-info .HH-info-fenxi {
  text-align: left;
}
.HH-info .HH-man-info .HH-info-fenxi .HH-info-fenxi-zhishu {
  padding: 0.4rem 0;
  font-size: 0.6rem;
  color: #8A5E42;
}
.HH-info .HH-man-info .HH-info-fenxi .HH-info-fenxi-zhishu span {
  font-size: 0.64rem;
  color: #980B0E;
}
.HH-info .HH-man-info .HH-info-fenxi .HH-info-fenxi-text {
  font-size: 0.6rem;
  color: #6D3C1E;
  line-height: 30px;
}
.HH-info .HH-tip {
  margin: 1.6rem 1.8rem 0.6rem;
  color: #fff;
  opacity: 0.5;
}
.HH-info .HH-tip h1 {
  font-size: 0.64rem;
  font-weight: normal;
}
.HH-info .HH-tip p {
  padding-top: 10px;
  font-size: 0.52rem;
  text-align: left;
}
.HH-info h1 {
  font-weight: normal;
  padding: 0.6rem 0;
  font-size: 0.72rem;
  color: #FEE7D0;
}
.HH-info .HH-info-dec {
  display: flex;
  justify-content: center;
  align-items: center;
}
.HH-info .HH-info-dec .HH-redCol {
  color: #930507;
  font-size: 0.64rem;
}
.HH-info .HH-info-dec .HH-name {
  width: 4rem;
  padding: 0.2rem;
  border-bottom: 1px solid #CCA455;
  font-size: 0.72rem;
  color: #6D3C1E;
}
.HH-info .HH-info-dec .HH-birth {
  font-size: 0.44rem;
  color: #6D3C1E;
  opacity: 0.5;
  width: 4rem;
  padding: 0.2rem;
  border-bottom: 1px solid #CCA455;
}
.HH-info .HH-info-dec .HH-bazi {
  font-size: 0.4rem;
  color: #980B0E;
  width: 4rem;
  padding: 0.2rem;
  border-bottom: 1px solid #CCA455;
}
.HH-info .btn-submit {
  border: none;
  display: inline-block;
  background: #FEE7D0;
  color: #980B0E;
  width: 5rem;
  height: 1.2rem;
  text-align: center;
  line-height: 1.2rem;
  border-radius: 30px;
  font-size: 0.52rem;
  cursor: pointer;
  margin-top: 0.8rem;
}
.resultWarp {
  position: relative;
}
.resultWarp .topShare {
  position: absolute;
  top: 0.6rem;
  right: 0.4rem;
  z-index: 99999;
}
.resultWarp .topShare img {
  width: 1.2rem;
  height: 1.2rem;
}
.resultWarp .tommory {
  position: absolute;
  top: 5.2rem;
  right: 2.8rem;
  z-index: 999;
}
.resultWarp .tommory img {
  width: 1.4rem;
  height: 1.4rem;
  margin-left: 0.2rem;
}
.resultWarp .tommory p {
  line-height: normal;
  font-size: 0.44rem;
  color: #cca455;
}
.HH-banner2 {
  position: relative;
  width: 100%;
}
.HH-banner2 img {
  width: 100%;
  display: block;
}
.HH-Dialog {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1000;
}
.HH-Dialog .content {
  position: absolute;
  top: 5.64rem;
  left: 50%;
  transform: translateX(-50%);
  width: 11.8rem;
  text-align: center;
  border-radius: 20px;
  padding-bottom: 0.6rem;
}
.HH-Dialog .content .content-close {
  width: 100%;
  height: 0.92rem;
  padding-right: 0.12rem;
}
.HH-Dialog .content .content-close img {
  float: right;
  width: 0.8rem;
  height: 0.8rem;
  cursor: pointer;
  margin-top: 0.4rem;
  margin-right: 0.4rem;
}
.HH-Dialog .content .content-tittle {
  font-size: 0.68rem;
  color: #FEE7D0;
  margin-bottom: 0.76rem;
}
.HH-Dialog .content .imgLogo {
  width: 3rem;
  height: 3rem;
}
.HH-Dialog .content .riqi {
  font-size: 0.6rem;
  color: #FEE7D0;
}
.HH-Dialog .content .content-text {
  padding: 0.6rem;
  font-size: 0.44rem;
  color: #FEE7D0;
  line-height: 0.7rem;
  text-align: left;
}
.HH-Dialog .content .content-text h2 {
  font-weight: normal;
  font-size: 0.52rem;
}
.HH-Dialog .content .HH-code {
  padding: 0 0.6rem;
  display: flex;
  justify-content: space-between;
  align-content: center;
}
.HH-Dialog .content .HH-code p {
  color: #FEE7D0;
  font-size: 0.32rem;
  font-weight: normal;
}
.HH-Dialog .content .HH-code p span {
  font-size: 0.68rem;
  font-weight: bold;
  padding-right: 5px;
}
.HH-Dialog .content .HH-code img {
  width: 1.28rem;
  height: 1.28rem;
}
.HH-Dialog .footer {
  width: 8.8rem;
  padding: 0.4rem;
  border-radius: 0.6rem;
  position: absolute;
  bottom: -2rem;
  left: 50%;
  transform: translateX(-50%);
  font-size: 0.44rem;
  color: #fff;
  text-align: center;
  cursor: pointer;
}
.HH-Dialog-BG {
  background: url("../img/HH-shareBg.png") no-repeat;
}
.XZ-Dialog-Bg {
  background-color: #36185d;
}
.HH-footerBg {
  background: linear-gradient(-51deg, #D31B31, #D7000C);
}
.XZ-footerBg {
  background: #36185d;
}
.pt100 {
  padding-top: 2rem;
}
.pt30 {
  padding-top: 0.6rem;
}
.showModle {
  width: 4rem;
  height: 2rem;
  color: #ffff;
  text-align: center;
  line-height: 2rem;
  border-radius: 0.1rem;
  background-color: rgba(0, 0, 0);
  animation: 2s MyModel;
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 0.24rem;
  z-index: 1000;
}
@keyframes MyModel {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.index {
  height: 100%;
  width: 100%;
}
.index .canvas {
  height: 100%;
  background: #d5574a;
  padding: 0.5067rem 0.6rem 0;
  box-sizing: border-box;
}
.index .canvas .avatar {
  height: 1.0667rem;
  width: 1.0667rem;
  margin: 0  auto;
}
.index .canvas .avatar img {
  height: 1.0667rem;
  width: 1.0667rem;
  border-radius: 50%;
}
.index .canvas .text {
  font-size: 0.4267rem;
  color: #ffffff;
  margin-top: 0.36rem;
  text-align: center;
}
.index .canvas .text p:last-child {
  margin-top: 0.2667rem;
}
.index .canvas .box {
  margin-top: 0.5333rem;
  width: 100%;
  background: #ffffff;
  border-radius: 8px;
  padding: 0 0.3067rem 0.9333rem;
  box-sizing: border-box;
}
.index .canvas .box .title {
  font-size: 0.5067rem;
  color: #ff8b03;
  padding: 0.76rem 0 0.5067rem;
  text-align: center;
}
.index .canvas .box .sound {
  width: 100%;
  border: 2px solid #ff8b03;
  box-sizing: border-box;
}
.index .canvas .box .sound img {
  width: 100%;
}
.index .canvas .box .qrcode {
  width: 2.4rem;
  height: 2.4rem;
  margin: 0.88rem auto 0;
}
.index .canvas .box .qrcode img {
  width: 100%;
}
.index .canvas .box .tip {
  font-size: 0.3733rem;
  color: #8f8f8f;
  text-align: center;
  margin: 0.3733rem 0 0 0;
}
.index .canvas .from {
  text-align: center;
  font-size: 0.3067rem;
  color: #E6a7a2;
  margin-top: 0.8667rem;
}
.index .save_btn {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  height: 1.44rem;
  background: #333333;
  line-height: 1.44rem;
  text-align: center;
  color: #ffffff;
  font-size: 0.3733rem;
}
