// 页面样式
@import "common";

html,
body {
    min-width: 320px;
    width: 15rem;
    margin: 0 auto;
    padding: 0;
    font-family: 'Microsoft Yahe';
    background: #f2f2f2;
    color: #282828;
    position: relative;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

ul li {
    list-style: none;

}

body::before {
    display: table;
    content: "";
}

.topHeader {
    background: #fff;
    width: 15rem;
    height: 90rem / 50;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 99;

    .topContent {
        padding: 0 24rem / 50;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .headerTittle {
            line-height: 90rem / 50;
        }

        a {
            width: 18rem/50;

            img {
                width: 100%;
                display: block;
            }
        }
    }

}

// banner
// .banner {
//     margin-top: 90rem/50;
//     padding: 0 15rem/50;

//     .swiper-container {
//         width: 700rem/50;
//         height: 336rem/50;

//     }

//     .swiper-slide img {
//         width: 100%;
//         box-shadow: 0px 5px 14px #ccc;
//     }

//     .swiper-container {
//         --swiper-theme-color: #ff6600;
//         --swiper-pagination-color: #00ff33;
//         /* 两种都可以 */
//     }
// }

.banner {
    // padding: 0 25rem/50;
    margin-top: 90rem/50;
    position: relative;
}

.banner .banner-circle {
    position: absolute;
    bottom: 5px;
    left: 0;
    right: 0;
    color: #fff;
}

.banner .banner-circle li {
    display: inline-block;
    background: rgba(0, 0, 0, .3);
    border-radius: 50%;
    padding: 5px;
    margin: 2px;
}

.banner .banner-circle ul {
    text-align: center;
}

.banner .banner-circle .selected {
    background: rgba(0, 0, 0, .8);
}

.banner img {
    width: 100%;
    margin: 0;
    padding: 0;
    box-shadow: 0px 5px 14px #ccc;
}






.nav {
    width: 750rem/50;
    display: flex;
    padding: 25rem/50 0;
    background: #fff;
    margin-top: 15rem/50;

    a {
        width: 187.5rem/50;
        text-align: center;

        img {
            width: 62rem/50;
            height: 62rem/50;
        }

        span {
            font-size: 20rem/50;
            color: #282828;
            display: block;
        }
    }
}


.ad {
    background: #fff;
    margin-top: 24rem/50;

    .heng {
        width: 100rem/50;
        height: 2rem/50;
        background: #282828;
    }

    .item {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 20rem/50 0;
    }

    .item-title {
        font-size: 32rem/50;
        padding: 0 20rem/50;
    }

    img {
        width: 750rem/50;
        height: 300rem/50;
        display: block;
    }
}

.footer {
    margin-top: 24rem/50;
    background: #fff;
    padding: 15rem/50 0;
    text-align: center;
    font-size: 14px;
}




// ---------------------------星座选择-----------------------------------
.XZ-banner {
    margin-top: 90rem/50;
    width: 15rem;
    height: 390rem/50;

    img {
        width: 100%;
    }
}

.XZ-warp {
    padding-bottom: 50rem/50;
    background: -ms-linear-gradient(top, #040825, #1F1240);
    /* IE 10 */
    background: -moz-linear-gradient(top, #040825, #1F1240);
    /*火狐*/
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#1F1240), to(#040825));

    /*谷歌*/
    .XZ-choose-tittle {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 34rem/50 0;

        .XZ-heng {
            width: 100rem/50;
            height: 2rem/50;
            background: #CCA455;
        }

        .XZ-choose-tittle {
            font-size: 34rem/50;
            color: #CCA455;
            padding: 0 20rem/50;
        }
    }

    .XZ-allXingZuo {
        width: 15rem;
        display: flex;

        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        overflow: hidden;
    }

    a {
        width: 187.5rem/50;
        text-align: center;
        margin-top: 30rem/50;

        img {
            width: 124rem/50;
            height: 124rem/50;
        }

        span {
            display: block;
            font-size: 26rem/50;
            color: #fff;
        }
    }
}

.XZ-Analysis {
    margin-top: 90rem/50;
    padding-bottom: 22rem/50;
    background: url('../img/AnalysisBg.png') center center no-repeat;
    background-size: 100% 100%;
}

.XZ-Analysis-Top {
    padding-top: 90rem/50;
    text-align: center;

    img {
        width: 212rem/50;
        height: 240rem/50;
    }

    span {
        display: block;
        font-size: 26rem/50;
        color: #CCA455;
    }
}

.XZ-AnalysisMiddle {
    background: #040825;
    padding: 0 15px 50rem/50;

    .XZ-AnalysisMiddle-Content {
        background: url('../img/AnalysisMiddle1.png') center top no-repeat;
        background-size: 100%;
        padding: 70rem/50 0 30rem/50;


        .XZ-item {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;


            li {
                flex: 1;
                background: rgba(31, 18, 64, 0.7);
                padding: 30rem/50;
                // width: 149rem/50;
                height: 150rem/50;
                border-radius: 10px;
                margin: 20rem/50;
                text-align: center;
                box-sizing: border-box;

                span {
                    font-size: 20rem/50;
                    color: #fff;
                    display: inline-block;
                }

                p {
                    font-size: 22rem/50;
                    color: #F8CB71;
                    padding-top: 10rem/50;
                }
            }

        }
    }

    .XZ-fenxi {
        margin-top: 40rem/50;
        background: rgba(31, 18, 64, 0.7);
        padding: 35rem/50 28rem/50;

        .XZ-fenxi-top {
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-bottom: 1px dotted #fff;
            padding-bottom: 10rem/50;

            h1 {
                font-size: 32rem/50;
                color: #F8CB71;
            }

            img {
                width: 28rem/50;
                height: 28rem/50;
            }

        }

        .XZ-fenxi-content {
            padding: 20px 0;
            font-size: 22rem/50;
            line-height: 25rem/30;
            color: #fff;
        }
    }
}





// ++++++++++++++++++合婚+++++++++++++++++++++++++++++
.HH-banner {
    margin-top: 90rem/50;
    width: 15rem;
    height: 590rem/50;

    img {
        width: 100%;
    }
}

.mt10 {
    margin-top: 10px
}

.mt40 {
    margin-top: 40px
}

.HH-info {
    text-align: center;
    padding-bottom: 50rem/50;
    background: url('../img/HH-Bg.png') center top repeat;
    background-size: 100%;

    .HH-info-tittle {
        width: 430rem/50;
        height: 102rem/50;
        margin-left: 160rem/50;

        img {
            width: 100%;
        }
    }

    .HH-man-info {
        margin-left: 90rem/50;
        margin-right: 90rem/50;
        padding: 30rem/50 40rem/50;
        box-sizing: border-box;
        width: 570rem/50;
        // height: 314rem/50;
        background: #FEE7D0;
        border-radius: 10px;

        .HH-info-input {
            margin-top: 20px;
            display: flex;
            justify-content: center;
            align-items: center;

            label {
                font-size: 32rem/50;
                color: #930507;
            }

            input {
                width: 200rem/50;
                border: none;
                line-height: 32px;
                background: none;
                border-bottom: 1px solid #D4B495;
                padding-left: 20rem/50;
                font-size: 22rem/50;
            }
        }

        h2 {
            color: #930507;
            font-size: 26rem/50;
            font-weight: normal;
        }

        .HH-info-fenxi {
            text-align: left;

            .HH-info-fenxi-zhishu {
                padding: 20rem/50 0;
                font-size: 22rem/50;
                color: #8A5E42;

                span {
                    font-size: 26rem/50;
                    color: #980B0E;
                }
            }

            .HH-info-fenxi-text {
                font-size: 16rem/50;
                color: #6D3C1E;
                line-height: 24px;
            }
        }
    }

    .HH-tip {
        margin: 80rem/50 90rem/50 30rem/50;
        color: #fff;
        opacity: 0.5;

        h1 {
            font-size: 32rem/50;
            font-weight: normal;
        }

        p {
            padding-top: 10px;
            font-size: 26rem/50;
            text-align: left;

        }
    }

    h1 {
        font-weight: normal;
        padding: 30rem/50 0;
        font-size: 36rem/50;
        color: #FEE7D0;
    }

    .HH-info-dec {
        display: flex;
        justify-content: center;
        align-items: center;

        .HH-redCol {
            color: #930507;
            font-size: 32rem/50;
        }

        .HH-name {
            width: 200rem/50;
            padding: 10rem/50;
            border-bottom: 1px solid #CCA455;
            font-size: 36rem/50;
            color: #6D3C1E;
        }

        .HH-birth {
            font-size: 22rem/50;
            color: #6D3C1E;
            opacity: .5;
            width: 200rem/50;
            padding: 10rem/50;
            border-bottom: 1px solid #CCA455;
        }

        .HH-bazi {
            font-size: 20rem/50;
            color: #980B0E;

            width: 200rem/50;
            padding: 10rem/50;
            border-bottom: 1px solid #CCA455;
        }
    }

    .btn-submit {
        border: none;
        display: inline-block;
        background: #FEE7D0;
        color: #980B0E;
        width: 250rem/50;
        height: 60rem/50;
        text-align: center;
        line-height: 60rem/50;
        border-radius: 30px;
        font-size: 26rem/50;
        cursor: pointer;
        margin-top: 40rem/50;
        // margin-left: 250rem/50;
    }
}

.HH-banner2 {
    margin-top: 90rem/50;
    width: 15rem;
    height: 390rem/50;

    img {
        width: 100%;
    }
}


.HH-Dialog {
    
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1000;

    .content {
        position: absolute;
        top: 282rem/50;
        left: 50%;
        transform: translateX(-50%);
        width: 590rem/50;
        // height: 718rem/50;
        text-align: center;
        // background: #D31B31;
        border-radius: 20px;
        padding-bottom: 30rem/50;

        .content-close {
            width: 100%;
            height: 46rem/50;
            padding-right: 6rem/50;

            img {
                float: right;
                width: 40rem/50;
                height: 40rem/50;
                cursor: pointer;
                margin-top: 20rem/50;
                margin-right: 20rem/50;
            }
        }

        .content-tittle {

            font-size: 34rem/50;
            color: #FEE7D0;
            margin-bottom: 38rem/50;
        }

        .content-text {
            padding: 30rem/50;
            font-size: 16rem/50;
            color: #FEE7D0;
            line-height: 35rem/50;
            text-align: left;

            h2 {
                font-weight: normal;
                font-size: 26rem/50;
            }
        }

        .HH-code {
            padding: 0 30rem/50;
            display: flex;
            justify-content: space-between;
            align-content: center;

            p {
                color: #FEE7D0;
                font-size: 16rem/50;
                font-weight: normal;

                span {
                    font-size: 34rem/50;
                    font-weight: bold;
                    padding-right: 5px;
                }
            }
            img{
                width: 64rem/50;
                height: 64rem/50;
            }
        }
    }


    .footer {
        width: 440rem/50;
        padding: 20rem/50;
        border-radius: 30rem/50;
        position: absolute;
        bottom: -100rem/50;
        left: 50%;
        transform: translateX(-50%);
        font-size: 22rem/50;
        color: #fff;
        
        text-align: center;
        cursor: pointer;
    }
}

.HH-Dialog-BG {
    background: url("../img/HH-shareBg.png") no-repeat;
}

.XZ-Dialog-Bg {
    background-color: #36185d;
}

.HH-footerBg {
    background: linear-gradient(-51deg, #D31B31, #D7000C);
}

.XZ-footerBg {
    background: #36185d;
}

.pt100 {
    padding-top: 100rem/50;
}

.pt30 {
    padding-top: 30rem/50;
}

.showModle{
    width: 200rem/50;
    height: 100rem/50;
    color: #ffff;
    text-align: center;
    line-height: 100rem/50;
    border-radius: 5rem/50;
    background-color: rgba(0, 0, 0);
    animation: 2s MyModel;
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 12rem/50;
    z-index: 1000;
}
@keyframes MyModel{
    0%{
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}




// test
.index{
    height: 100%;
    width: 100%;
    .canvas{
        height: 100%;
        height: 100%;
        background: #d5574a;
        padding: 0.5067rem 0.6rem 0; 
        box-sizing: border-box;
        .avatar{
            height: 1.0667rem;
            width: 1.0667rem;
            margin: 0  auto;
            img{
                height: 1.0667rem;
                width: 1.0667rem;
                border-radius: 50%;
            }
        }
        .text{
            font-size: 0.4267rem;
            color: #ffffff;
            margin-top: 0.36rem;
            text-align: center;
            p:last-child{
                margin-top: 0.2667rem;
            }
        }
        .box{
            margin-top: 0.5333rem;
            width: 100%;
            background: #ffffff;
            border-radius: 8px;
            padding: 0 0.3067rem 0.9333rem;
            box-sizing: border-box;
            .title{
                font-size: 0.5067rem;
                color: #ff8b03;
                padding: 0.76rem 0 0.5067rem;
                text-align: center;
            }
            .sound{
                width: 100%;
                border:2px solid #ff8b03;
                box-sizing: border-box;
                img{
                    width: 100%;
                }
            }
            .qrcode{
                width: 2.4rem;
                height: 2.4rem;
                margin: 0.88rem  auto 0;
                img{
                    width: 100%;
                }
            }
            .tip{
                font-size: 0.3733rem;
                color: #8f8f8f;
                text-align: center;
                margin: 0.3733rem 0 0 0;
            }
        }
        .from{
            text-align: center;
            font-size: 0.3067rem;
            color: #E6a7a2;
            margin-top: 0.8667rem;
        }

    }
    .save_btn{
        position: fixed;
        left: 0;
        right: 0;
        bottom: 0;
        height: 1.44rem;
        background: #333333;
        line-height: 1.44rem;
        text-align: center;
        color: #ffffff;
        font-size: 0.3733rem;
    }
}