@media screen and (min-width: 320px) {
  html {
    font-size: 21.33333333px;
  }
}
@media screen and (min-width: 360px) {
  html {
    font-size: 24px;
  }
}
@media screen and (min-width: 375px) {
  html {
    font-size: 25px;
  }
}
@media screen and (min-width: 400px) {
  html {
    font-size: 26.66666667px;
  }
}
@media screen and (min-width: 384px) {
  html {
    font-size: 25.6px;
  }
}
@media screen and (min-width: 540px) {
  html {
    font-size: 36px;
  }
}
@media screen and (min-width: 720px) {
  html {
    font-size: 48px;
  }
}
@media screen and (min-width: 750px) {
  html {
    font-size: 50px;
  }
}
* {
  box-sizing: border-box;
}
html,
body {
  min-width: 320px;
  width: 15rem;
  margin: 0 auto;
  padding: 0;
  font-family: '微软雅黑';
  background: #f2f2f2;
  color: #282828;
}
* {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
ul li {
  list-style: none;
}
.topHeader {
  background: #fff;
  width: 15rem;
  height: 1.8rem;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 99;
}
.topHeader .topContent {
  padding: 0 0.48rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.topHeader .topContent .headerTittle {
  line-height: 1.8rem;
}
.topHeader .topContent a {
  width: 0.36rem;
}
.topHeader .topContent a img {
  width: 100%;
  display: block;
}
.banner {
  padding: 0 0.5rem;
  margin-top: 1.8rem;
  position: relative;
}
.banner .banner-circle {
  position: absolute;
  bottom: 5px;
  left: 0;
  right: 0;
  color: #fff;
}
.banner .banner-circle li {
  display: inline-block;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  padding: 5px;
  margin: 2px;
}
.banner .banner-circle ul {
  text-align: center;
}
.banner .banner-circle .selected {
  background: rgba(0, 0, 0, 0.8);
}
.banner img {
  width: 100%;
  margin: 0;
  padding: 0;
  box-shadow: 0px 5px 14px #ccc;
}
.nav {
  width: 15rem;
  display: flex;
  padding: 0.5rem 0;
  background: #fff;
  margin-top: 0.3rem;
}
.nav a {
  width: 3.75rem;
  text-align: center;
}
.nav a img {
  width: 1.24rem;
  height: 1.24rem;
}
.nav a span {
  font-size: 0.4rem;
  color: #282828;
  display: block;
}
.ad {
  background: #fff;
  margin-top: 0.48rem;
}
.ad .heng {
  width: 2rem;
  height: 0.04rem;
  background: #282828;
}
.ad .item {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0.4rem 0;
}
.ad .item-title {
  font-size: 0.64rem;
  padding: 0 0.4rem;
}
.ad img {
  width: 15rem;
  height: 6rem;
  display: block;
}
.footer {
  margin-top: 0.48rem;
  background: #fff;
  height: 1.84rem;
  line-height: 1.84rem;
  text-align: center;
  font-size: 14px;
}
.XZ-banner {
  margin-top: 1.8rem;
  width: 15rem;
  height: 7.8rem;
}
.XZ-banner img {
  width: 100%;
}
.XZ-warp {
  padding-bottom: 1rem;
  background: -ms-linear-gradient(top, #040825, #1F1240);
  /* IE 10 */
  background: -moz-linear-gradient(top, #040825, #1F1240);
  /*火狐*/
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#1F1240), to(#040825));
  /*谷歌*/
}
.XZ-warp .XZ-choose-tittle {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0.68rem 0;
}
.XZ-warp .XZ-choose-tittle .XZ-heng {
  width: 2rem;
  height: 0.04rem;
  background: #CCA455;
}
.XZ-warp .XZ-choose-tittle .XZ-choose-tittle {
  font-size: 0.68rem;
  color: #CCA455;
  padding: 0 0.4rem;
}
.XZ-warp .XZ-allXingZuo {
  width: 15rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
}
.XZ-warp a {
  width: 3.75rem;
  text-align: center;
  margin-top: 0.6rem;
}
.XZ-warp a img {
  width: 2.48rem;
  height: 2.48rem;
}
.XZ-warp a span {
  display: block;
  font-size: 0.52rem;
  color: #fff;
}
.XZ-Analysis {
  margin-top: 1.8rem;
  padding-bottom: 0.44rem;
  background: url('../img/AnalysisBg.png') center center no-repeat;
  background-size: 100% 100%;
}
.XZ-Analysis-Top {
  padding-top: 1.8rem;
  text-align: center;
}
.XZ-Analysis-Top img {
  width: 4.24rem;
  height: 4.8rem;
}
.XZ-Analysis-Top span {
  display: block;
  font-size: 0.52rem;
  color: #CCA455;
}
.XZ-AnalysisMiddle {
  background: #040825;
  padding: 0 15px 1rem;
}
.XZ-AnalysisMiddle .XZ-AnalysisMiddle-Content {
  background: url('../img/AnalysisMiddle1.png') center top no-repeat;
  background-size: 100%;
  padding: 1rem 0 0.4rem 0;
  overflow: hidden;
}
.XZ-AnalysisMiddle .XZ-AnalysisMiddle-Content .XZ-item {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
}
.XZ-AnalysisMiddle .XZ-AnalysisMiddle-Content .XZ-item li {
  flex: 1;
  background: rgba(31, 18, 64, 0.7);
  padding: 0.6rem;
  width: 2.98rem;
  border-radius: 10px;
  margin: 0.4rem;
  text-align: center;
  box-sizing: border-box;
}
.XZ-AnalysisMiddle .XZ-AnalysisMiddle-Content .XZ-item li span {
  font-size: 0.44rem;
  color: #fff;
  display: inline-block;
}
.XZ-AnalysisMiddle .XZ-AnalysisMiddle-Content .XZ-item li p {
  font-size: 0.5rem;
  color: #F8CB71;
  padding-top: 0.2rem;
}
.XZ-AnalysisMiddle .XZ-fenxi {
  margin-top: 0.8rem;
  background: rgba(31, 18, 64, 0.7);
  padding: 0.7rem 0.56rem;
}
.XZ-AnalysisMiddle .XZ-fenxi .XZ-fenxi-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px dotted #fff;
  padding-bottom: 0.2rem;
}
.XZ-AnalysisMiddle .XZ-fenxi .XZ-fenxi-top h1 {
  font-size: 0.64rem;
  color: #F8CB71;
}
.XZ-AnalysisMiddle .XZ-fenxi .XZ-fenxi-top img {
  width: 0.56rem;
  height: 0.56rem;
}
.XZ-AnalysisMiddle .XZ-fenxi .XZ-fenxi-content {
  padding: 20px 0;
  font-size: 0.44rem;
  line-height: 0.83333333rem;
  color: #fff;
}
.HH-banner {
  margin-top: 1.8rem;
  width: 15rem;
  height: 11.8rem;
}
.HH-banner img {
  width: 100%;
}
.mt10 {
  margin-top: 10px;
}
.mt40 {
  margin-top: 40px;
}
.HH-info {
  text-align: center;
  padding-bottom: 1rem;
  background: url('../img/HH-Bg.png') center top repeat;
  background-size: 100%;
}
.HH-info .HH-info-tittle {
  width: 8.6rem;
  height: 2.04rem;
  margin-left: 3.2rem;
}
.HH-info .HH-info-tittle img {
  width: 100%;
}
.HH-info .HH-man-info {
  margin-left: 1.8rem;
  margin-right: 1.8rem;
  padding: 0.6rem 0.8rem;
  box-sizing: border-box;
  width: 11.4rem;
  background: #FEE7D0;
  border-radius: 10px;
}
.HH-info .HH-man-info .HH-info-input {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.HH-info .HH-man-info .HH-info-input label {
  font-size: 0.64rem;
  color: #930507;
}
.HH-info .HH-man-info .HH-info-input input {
  width: 4rem;
  border: none;
  line-height: 32px;
  background: none;
  border-bottom: 1px solid #D4B495;
  padding-left: 20px;
  font-size: 0.44rem;
}
.HH-info .HH-man-info h2 {
  color: #930507;
  font-size: 0.52rem;
  font-weight: normal;
}
.HH-info .HH-man-info .HH-info-fenxi {
  text-align: left;
}
.HH-info .HH-man-info .HH-info-fenxi .HH-info-fenxi-zhishu {
  padding: 0.4rem 0;
  font-size: 0.44rem;
  color: #8A5E42;
}
.HH-info .HH-man-info .HH-info-fenxi .HH-info-fenxi-zhishu span {
  font-size: 0.52rem;
  color: #980B0E;
}
.HH-info .HH-man-info .HH-info-fenxi .HH-info-fenxi-text {
  font-size: 0.32rem;
  color: #6D3C1E;
  line-height: 24px;
}
.HH-info .HH-tip {
  margin: 1.6rem 1.8rem 0.6rem;
  color: #fff;
  opacity: 0.5;
}
.HH-info .HH-tip h1 {
  font-size: 0.64rem;
  font-weight: normal;
}
.HH-info .HH-tip p {
  padding-top: 10px;
  font-size: 0.52rem;
  text-align: left;
}
.HH-info h1 {
  font-weight: normal;
  padding: 0.6rem 0;
  font-size: 0.72rem;
  color: #FEE7D0;
}
.HH-info .HH-info-dec {
  display: flex;
  justify-content: center;
  align-items: center;
}
.HH-info .HH-info-dec .HH-redCol {
  color: #930507;
  font-size: 0.64rem;
}
.HH-info .HH-info-dec .HH-name {
  width: 4rem;
  padding: 0.2rem;
  border-bottom: 1px solid #CCA455;
  font-size: 0.72rem;
  color: #6D3C1E;
}
.HH-info .HH-info-dec .HH-birth {
  font-size: 0.44rem;
  color: #6D3C1E;
  opacity: 0.5;
  width: 4rem;
  padding: 0.2rem;
  border-bottom: 1px solid #CCA455;
}
.HH-info .HH-info-dec .HH-bazi {
  font-size: 0.44rem;
  color: #980B0E;
  width: 4rem;
  padding: 0.2rem;
  border-bottom: 1px solid #CCA455;
}
.HH-info .btn-submit {
  background: #FEE7D0;
  width: 5rem;
  height: 1.2rem;
  text-align: center;
  color: #930507;
  line-height: 1.2rem;
  border-radius: 30px;
  font-size: 0.52rem;
  cursor: pointer;
  margin-top: 0.8rem;
  margin-left: 5rem;
}
.HH-banner2 {
  margin-top: 1.8rem;
  width: 15rem;
  height: 7.8rem;
}
.HH-banner2 img {
  width: 100%;
}
