@import "common";

html,
body {
    min-width: 320px;
    width: 15rem;
    margin: 0 auto;
    padding: 0;
    font-family: '微软雅黑';
    background: #f2f2f2;
    color: #282828;
    position: relative;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.hv:hover {
    cursor: pointer;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

body::before {
    display: table;
    content: "";
}

.topHeader {
    background: #fff;
    width: 15rem;
    height: 90rem / 50;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 99;

    .topContent {
        padding: 0 24rem / 50;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .headerTittle {
            line-height: 90rem / 50;
        }

        a {
            width: 18rem/50;

            img {
                width: 100%;
                display: block;
            }
        }

        .topHeaderRight {
            width: 30rem/50;
        }
    }

}

.banner {
    margin-top: 90rem/50;
    width: 100%;
    height: 390rem/50;

    img {
        width: 100%;
        height: 100%;
    }
}

.content::before {
    display: table;
    content: '';
}

.content-yinyuanbg {
    background-image: url("../img/yinyuanbg.png");
}



.content {
    // width: 750rem/50;
    // height: 1377rem/50;
    text-align: center;
    padding-bottom: 70rem/50;

    .register {
        width: 572rem/50;
        height: 314rem/50;
        background: #FEFDFA;
        border-radius: 10rem/50;
        margin: 40rem/50 auto;
        display: flex;
        align-items: center;

        ul {
            list-style: none;
            width: 100%;

            li {
                display: flex;
                align-items: center;
                height: 80rem/50;
                width: 100%;
                display: flex;
                justify-content: center;
                // margin-bottom: 30rem/50;

                span {
                    font-size: 32rem/50;
                    font-family: Source Han Sans CN;
                    font-weight: 400;
                    color: #DB678F;
                    // margin-right: 34rem/50;
                }

                input::-webkit-input-placeholder {
                    color: #dddddd;
                    /* placeholder颜色  */
                    font-size: 22rem/50;

                }

                input {
                    border: none;
                    border-bottom: 1rem/50 solid #FEA0B2;
                    outline: none;
                    text-align: center;
                    line-height: 36rem/50;
                    width: 260rem/50;
                    color: #6D3C1E;
                    opacity: 0.8;
                    font-size: 34rem/50;
                }

                .noscale {
                    font-size: 22rem/50;
                }

                .otherColor {
                    color: #DB678F;
                }
            }
        }
    }

    .btn {
        width: 360rem/50;
        height: 62rem/50;
        background: linear-gradient(-3deg, #DB678F 0%, #FEA0B2 100%);
        border-radius: 30rem/50;
        font-size: 34rem/50;
        font-family: Source Han Sans CN;
        font-weight: 400;
        color: #FFFFFF;
        line-height: 62rem/50;
        margin: 0 auto;
    }

    .cesuan {
        width: 550rem/50;
        height: 66rem/50;
        margin: 70rem/50 auto 0 auto;

        img {
            width: 100%;
            height: 100%;
        }
    }

    .cesuan-info {

        margin: 30rem/50 auto 0 auto;
        width: 640rem/50;
        height: 186rem/50;

        img {
            width: 100%;
            height: 100%;
        }
    }

    .cesuan-info:last-child {
        height: 256rem/50;
    }
}


// 姻缘结果
.content-reslout {
    background-image: url("../img/yinyuanresoul bg.png");

    .result span {
        display: block;
        text-align: center;
    }

    .result span:nth-child(1) {
        color: #DB678F;
        font-size: 34rem/50;
        margin-bottom: 40rem/50;
    }

    .result span:nth-child(2) {
        padding: 0 70rem/50;
        color: #8A634A;
        font-size: 26rem/50;
    }
}

.dialogvisible {
    display: none;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1000;

    .content {
        background: url("../img/sharecont.png");
        position: absolute;
        top: 282rem/50;
        left: 50%;
        transform: translateX(-50%);
        width: 520rem/50;
        height: 636rem/50;
        border-radius: 10px;

        .content-cloose {
            width: 100%;
            height: 46rem/50;
            padding-right: 6rem/50;

            img {
                float: right;
                height: 46rem/50;
                height: 100%;
            }
        }

        .content-tittle {
            font-size: 34rem/50;
            color: #DB678F;
            margin-bottom: 38rem/50;
        }

        .content-text {
            padding: 0 30rem/50;
            font-size: 26rem/50;
            color: #8A634A;
            line-height: 42rem/50;
            text-align: left;
        }

    }


    .footer {
        width: 340rem/50;
        height: 62rem/50;
        background: linear-gradient(-51deg, #FEC1C9, #FCD9ED);
        border-radius: 30rem/50;
        position: absolute;
        bottom: 244rem/50;
        left: 50%;
        transform: translateX(-50%);
        font-size: 22rem/50;
        color: #DC688F;
        line-height: 62rem/50;
        text-align: center;
    }
}

// 塔罗抽牌
.app::before,
.TL-Result::before {
    display: table;
    content: "";
}

.app {
    overflow: hidden;
    width: 100%;
    height: 100vh;
    background-image: url("../img/taluobg.png");
    background-size: 750rem/50 1565rem/50;
    background-repeat: no-repeat;

    .box-card {
        border-radius: 20rem/50;
        padding: 0 20rem/50;

        .card {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 192rem/50;

            li {
                border-radius: 10rem/50;

                .card-cell div {
                    width: 100%;
                    height: 100%;
                    width: 166rem/50;
                    height: 268rem/50;
                    border-radius: 10rem/50;
                    background: rgba(255, 255, 255, 0.1);
                    box-shadow: 0 18rem/50 40rem/50 0 rgba(33, 36, 75, 0.16);
                }

                p {
                    text-align: center;
                    font-size: 32rem/50;
                    font-family: SimHei;
                    font-weight: bold;
                    color: #FFFFFF;
                }

                p:nth-child(1) {
                    margin-bottom: 22rem/50;
                }

                p:last-child {
                    line-height: 72rem/50;
                }
            }
        }
    }

    .ZPrefresh {
        .ZPrefresh-top {
            margin-top: 132rem/50;
            position: relative;
            display: flex;
            align-items: center;

            input::-webkit-input-placeholder {
                color: rgba(255, 255, 255, 0.5);
                font-size: 30rem/50;
            }

            input {
                width: 214rem/50;
                height: 53rem/50;
                border-radius: 26rem/50;
                outline: none;
                border: none;
                background: rgba(255, 255, 255, 0.1);
                font-size: 30rem/50;
                text-align: center;
                color: rgba(255, 255, 255, 0.5);
                margin-left: 50%;
                transform: translateX(-50%);
            }

            span {
                background: rgba(255, 255, 255, 0.1);
                box-shadow: 0 18rem/50 40rem/50 0rem/50 rgba(33, 36, 75, 0.16);
                border-radius: 15rem/50;
                text-align: center;
                width: 98rem/50;
                height: 30rem/50;
                font-size: 20rem/50;
                line-height: 30rem/50;
                color: #FFFFFF;
                position: absolute;
                right: 144rem/50;
                top: 50%;
                transform: translateY(-50%);
            }
        }

        .ZPrefresh-bot {
            font-size: 20rem/50;
            text-align: center;
            color: rgba(255, 255, 255, 0.5);
            font-weight: bold;
            margin-top: 26rem/50;
        }
    }

    .choose-card {
        ul {
            margin: 0 auto;
            width: 190rem/50;
            height: 361rem/50;
            border-radius: 5rem/50;
            margin-top: 50rem/50;
            position: relative;


            li {
                position: absolute;
                width: 100%;
                height: 100%;
                transform-origin: 50% 250%;
                transition: transform 500ms ease-out 0ms;
                left: 0;
                top: 0;

                img {
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }

    .footer {
        font-family: Source Han Sans CN;
        font-weight: bold;
        color: #FFFFFF;
        font-size: 32rem/50;
        text-align: center;
        margin-top: 30rem/50;
    }
}


.TL-Result {
    overflow: hidden;
    width: 100%;
    height: 100%;
    background-image: url("../img/TL-reslt-bg.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;

    .TL-Result-Top {
        margin: 110rem/50 20rem/50 40rem/50;
        padding: 20rem/50;
        box-sizing: border-box;
        background-image: url('../img/TL-reslt-Topbg.png');
        background-size: 708rem/50 834rem/50;
        background-repeat: no-repeat;

        .TL-Result-card {
            display: flex;
            justify-content: space-between;
            align-items: center;

            li {
                text-align: center;
                flex: 1;

                h2 {
                    font-size: 34rem/50;
                    font-weight: normal;
                    line-height: normal;
                    color: #fff;
                    padding: 97rem/50 0 20rem/50;
                    box-sizing: border-box;
                }

                .TL-Result-card-img {
                    width: 168rem/50;
                    height: 270rem/50;
                }

                .TL-Result-card-tip {
                    margin-top: 15rem/50;
                    margin-left: 50rem/50;
                    display: flex;
                    align-items: center;

                    span {
                        color: #fff;
                        font-size: 34rem/50;
                    }

                    img {
                        margin-left: 10rem/50;
                        width: 50rem/50;
                        height: 50rem/50;
                    }
                }
            }

        }

        .TL-Result-KeyWord {
            text-align: center;
            padding: 50rem/50 0 70rem/50;
            box-sizing: border-box;
            img {
                width: 542rem/50;
                height: 70rem/50;
            }

            p {
                font-size: 32rem/50;
                color: #fff;
                padding-top: 40rem/50;
            }
        }
    }

    .TL-Result-jiexi {
        margin: 0 23rem/50 60rem/50;

        .TL-Result-jiexi-img {
            width: 542rem/50;
            height: 70rem/50;
            margin-left: 75rem/50;
        }

        .TL-Result-Item {
            margin-top: 30rem/50;
            background: rgba(47, 15, 93, 0.7);
            padding: 36rem/50 27rem/50;
            box-sizing: border-box;
            .TL-Result-Item-Top {
                display: flex;
                justify-content: space-between;
                align-items: center;
                border-bottom: 1px dotted #752EE9;

                h1 {
                    font-size: 32rem/50;
                    color: #fff;
                }

                div {
                    img {
                        width: 28rem/50;
                        height: 28rem/50;
                    }
                }
            }

            .TL-Result-Item-content {
                color: #D5C4FF;
                font-size: 22rem/50;
                padding-top: 36rem/50;
                line-height: 25px;
            }
        }
    }
}