@media screen and (min-width: 320px) {
  html {
    font-size: 21.33333333px;
  }
}
@media screen and (min-width: 360px) {
  html {
    font-size: 24px;
  }
}
@media screen and (min-width: 375px) {
  html {
    font-size: 25px;
  }
}
@media screen and (min-width: 400px) {
  html {
    font-size: 26.66666667px;
  }
}
@media screen and (min-width: 384px) {
  html {
    font-size: 25.6px;
  }
}
@media screen and (min-width: 540px) {
  html {
    font-size: 36px;
  }
}
@media screen and (min-width: 720px) {
  html {
    font-size: 48px;
  }
}
@media screen and (min-width: 750px) {
  html {
    font-size: 50px;
  }
}
* {
  box-sizing: border-box;
}
html,
body {
  min-width: 320px;
  max-width: 750px;
  margin: 0 auto;
  padding: 0;
  font-family: 'Microsoft Yahe';
  background: #f2f2f2;
  color: #282828;
  position: relative;
  min-height: 100%;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
[v-clock] {
  display: none;
}
.hv:hover {
  cursor: pointer;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
body::before {
  display: table;
  content: "";
}
.showModle {
  width: 4rem;
  height: 2rem;
  color: #ffff;
  text-align: center;
  line-height: 2rem;
  border-radius: 0.1rem;
  background-color: rgba(0, 0, 0);
  animation: 2s MyModel;
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 0.4rem;
  z-index: 1000;
}
@keyframes MyModel {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.topHeader {
  background: #fff;
  width: 15rem;
  height: 1.8rem;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 99;
}
.topHeader .topContent {
  padding: 0 0.48rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.topHeader .topContent .headerTittle {
  line-height: 1.8rem;
}
.topHeader .topContent a {
  width: 0.36rem;
}
.topHeader .topContent a img {
  width: 100%;
  display: block;
}
.topHeader .topContent .topHeaderRight {
  width: 0.6rem;
}
.banner {
  width: 100%;
  height: 7.8rem;
}
.banner img {
  width: 100%;
  height: 100%;
}
.content::before {
  display: table;
  content: '';
}
.content-yinyuanbg {
  background-image: url("../img/yinyuanbg.png");
}
.content {
  text-align: center;
  padding-bottom: 1.4rem;
}
.content .register {
  width: 11.44rem;
  height: 6.28rem;
  background: #FEFDFA;
  border-radius: 0.2rem;
  margin: 0.8rem auto;
  display: flex;
  align-items: center;
}
.content .register ul {
  list-style: none;
  width: 100%;
}
.content .register ul li {
  align-items: center;
  height: 1.6rem;
  width: 100%;
  display: flex;
  justify-content: center;
}
.content .register ul li .gender {
  display: flex;
  font-size: 0.64rem;
  font-family: Source Han Sans CN;
  font-weight: 400;
  color: #DB678F;
}
.content .register ul li .gender input {
  margin-right: 0.2rem;
}
.content .register ul li input[type=radio] {
  display: inline-block;
  vertical-align: middle;
  width: 20px;
  height: 20px;
  -webkit-appearance: none;
  background-color: transparent;
  border: 0;
  outline: 0 !important;
  line-height: 20px;
  color: #d8d8d8;
}
.content .register ul li input[type=radio]:after {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  text-align: center;
  line-height: 14px;
  font-size: 16px;
  color: #fff;
  border: 3px solid #ddd;
  background-color: #fff;
  box-sizing: border-box;
}
.content .register ul li input[type=radio]:checked:after {
  content: "L";
  transform: matrix(-0.766044, -0.642788, -0.642788, 0.766044, 0, 0);
  -webkit-transform: matrix(-0.766044, -0.642788, -0.642788, 0.766044, 0, 0);
  border-color: #099414;
  background-color: #099414;
}
.content .register ul li span {
  font-size: 0.64rem;
  font-family: Source Han Sans CN;
  font-weight: 400;
  color: #DB678F;
}
.content .register ul li input::-webkit-input-placeholder {
  color: #dddddd;
  /* placeholder颜色  */
  font-size: 0.44rem;
}
.content .register ul li input {
  border: none;
  border-bottom: 0.02rem solid #FEA0B2;
  outline: none;
  text-align: center;
  line-height: 0.72rem;
  width: 5.2rem;
  color: #6D3C1E;
  opacity: 0.8;
  font-size: 0.68rem;
}
.content .register ul li .noscale {
  font-size: 0.44rem;
}
.content .register ul li .otherColor {
  color: #DB678F;
}
.content .register ul li:nth-child(2) span {
  margin: 0 0.2rem 0 1.5rem;
  display: inline-block;
}
.content .btn {
  width: 7.2rem;
  height: 1.24rem;
  background: linear-gradient(-3deg, #DB678F 0%, #FEA0B2 100%);
  border-radius: 0.6rem;
  font-size: 0.68rem;
  font-family: Source Han Sans CN;
  font-weight: 400;
  color: #FFFFFF;
  line-height: 1.24rem;
  margin: 0 auto;
}
.content .cesuan {
  width: 11rem;
  height: 1.32rem;
  margin: 1.4rem auto 0 auto;
}
.content .cesuan img {
  width: 100%;
  height: 100%;
}
.content .cesuan-info {
  margin: 0.6rem auto 0 auto;
  width: 12.8rem;
  height: 3.72rem;
}
.content .cesuan-info img {
  width: 100%;
  height: 100%;
}
.content .cesuan-info:last-child {
  height: 5.12rem;
}
.YY {
  min-height: 100vh;
  background-image: url("../img/yinyuanresoul bg.png");
  background-size: 100% 100%;
}
.content-reslout .result span {
  display: block;
  text-align: center;
}
.content-reslout .result span:nth-child(1) {
  color: #DB678F;
  font-size: 0.68rem;
  margin-bottom: 0.8rem;
}
.content-reslout .result span:nth-child(2) {
  padding: 0 1.4rem;
  color: #8A634A;
  font-size: 0.52rem;
}
.dialogvisible {
  display: none;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1000;
}
.dialogvisible .content {
  background: url("../img/sharecont.png");
  position: absolute;
  top: 5.64rem;
  left: 50%;
  transform: translateX(-50%);
  width: 10.4rem;
  height: 12.72rem;
  border-radius: 10px;
}
.dialogvisible .content .content-cloose {
  width: 100%;
  height: 0.92rem;
  padding-right: 0.12rem;
}
.dialogvisible .content .content-cloose img {
  float: right;
  height: 0.92rem;
  height: 100%;
}
.dialogvisible .content .content-tittle {
  font-size: 0.68rem;
  color: #DB678F;
  margin-bottom: 0.76rem;
}
.dialogvisible .content .content-text {
  padding: 0 0.6rem;
  font-size: 0.52rem;
  color: #8A634A;
  line-height: 0.84rem;
  text-align: left;
}
.dialogvisible .content .TL-Result-shareCode {
  padding: 0.4rem 0.9rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.dialogvisible .content .TL-Result-shareCode p {
  color: #fff;
  font-size: 0.32rem;
}
.dialogvisible .content .TL-Result-shareCode p span:nth-child(1) {
  font-size: 0.68rem;
}
.dialogvisible .content .TL-Result-shareCode img {
  width: 1.28rem;
  height: 1.28rem;
}
.dialogvisible .footer {
  width: 6.8rem;
  height: 1.24rem;
  background: linear-gradient(-51deg, #FEC1C9, #FCD9ED);
  border-radius: 0.6rem;
  position: absolute;
  top: 19.8rem;
  left: 50%;
  transform: translateX(-50%);
  font-size: 0.44rem;
  color: #DC688F;
  line-height: 1.24rem;
  text-align: center;
}
.app::before,
.TL-Result::before {
  display: table;
  content: "";
}
.app {
  width: 100%;
  min-height: 100vh;
  background-image: url("../img/taluobg.png");
  background-size: 15rem 31.3rem;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: relative;
}
.app .box-card {
  border-radius: 0.4rem;
  padding: 0 0.4rem;
  position: relative;
}
.app .box-card .card {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 3.84rem;
}
.app .box-card .card li {
  border-radius: 0.2rem;
  height: 6rem;
}
.app .box-card .card li .card-cell div {
  width: 100%;
  height: 100%;
  width: 3.32rem;
  height: 5.36rem;
  border-radius: 0.2rem;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 0.36rem 0.8rem 0 rgba(33, 36, 75, 0.16);
}
.app .box-card .card li p {
  text-align: center;
  font-size: 0.64rem;
  font-family: SimHei;
  font-weight: bold;
  color: #FFFFFF;
}
.app .box-card .card li p:nth-child(1) {
  margin-bottom: 0.44rem;
}
.app .box-card .card li p:last-child {
  line-height: 1.44rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.app .box-card .card li p:last-child img {
  width: 1rem;
  height: 1rem;
  margin-left: 0.16rem;
}
.app .ZPrefresh .analyse {
  width: 4.34rem;
  height: 1.08rem;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0px 18px 40px 0px rgba(33, 36, 75, 0.16);
  border-radius: 0.54rem;
  text-align: center;
  font-size: 0.64rem;
  color: #FFFFFF;
  font-family: Source Han Sans CN;
  font-weight: bold;
  line-height: 1.08rem;
  position: absolute;
  top: 12.4rem;
  left: 50%;
  transform: translate(-50%, -50%);
}
.app .ZPrefresh .ZPrefresh-top {
  margin-top: 2.64rem;
  position: relative;
  display: flex;
  align-items: center;
}
.app .ZPrefresh .ZPrefresh-top input::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.5);
  font-size: 0.6rem;
}
.app .ZPrefresh .ZPrefresh-top input {
  width: 4.28rem;
  height: 1.06rem;
  border-radius: 0.52rem;
  outline: none;
  border: none;
  background: rgba(255, 255, 255, 0.1);
  font-size: 0.6rem;
  text-align: center;
  color: rgba(255, 255, 255, 0.5);
  margin-left: 50%;
  transform: translateX(-50%);
}
.app .ZPrefresh .ZPrefresh-top span {
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 0.36rem 0.8rem 0rem rgba(33, 36, 75, 0.16);
  border-radius: 0.3rem;
  text-align: center;
  width: 1.96rem;
  height: 0.6rem;
  font-size: 0.4rem;
  line-height: 0.6rem;
  color: #FFFFFF;
  position: absolute;
  right: 2.88rem;
  top: 50%;
  transform: translateY(-50%);
}
.app .ZPrefresh .ZPrefresh-bot {
  font-size: 0.4rem;
  text-align: center;
  color: rgba(255, 255, 255, 0.5);
  font-weight: bold;
  margin-top: 0.52rem;
}
.app .choose-card {
  margin: 0 auto;
  width: 6.44rem;
  height: 10.44rem;
  margin-top: 1.6rem;
  border-radius: 0.1rem;
  position: relative;
  transform: scale(0.5);
}
.app .choose-card li {
  position: absolute;
  width: 100%;
  height: 100%;
  transform-origin: 50% 250%;
  transition: 500ms ease-out 0ms;
}
.app .choose-card li img {
  width: 100%;
  height: 100%;
}
.app .footer {
  font-family: Source Han Sans CN;
  font-weight: bold;
  color: #FFFFFF;
  font-size: 0.64rem;
  text-align: center;
  margin-top: 0.6rem;
}
.app .riffle {
  position: absolute;
  left: 50%;
  top: 10.4rem;
  transform: translateX(-50%);
}
.app .riffle ul {
  width: 2.56rem;
  height: 4.82rem;
  position: relative;
  transform-origin: 50% 50%;
  transform: rotate(90deg);
}
.app .riffle ul li {
  position: absolute;
  transition: transform 500ms ease-out 0ms;
}
.app .riffle ul li img {
  width: 100%;
  height: 100%;
}
.app .riffle ul li {
  transition: 1s ease;
}
.TL-Result {
  overflow: hidden;
  width: 100%;
  height: 100%;
  background-image: url("../img/TL-reslt-bg.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.TL-Result .TL-Result-Top {
  margin: 0.8rem 0.4rem 0.8rem;
  padding: 0.4rem;
  box-sizing: border-box;
  background-image: url('../img/TL-reslt-Topbg.png');
  background-size: 14.16rem 16.68rem;
  background-repeat: no-repeat;
  position: relative;
}
.TL-Result .TL-Result-Top .topShare {
  position: absolute;
  top: 0.6rem;
  right: 0.4rem;
  z-index: 99999;
}
.TL-Result .TL-Result-Top .topShare img {
  width: 1.2rem;
  height: 1.2rem;
}
.TL-Result .TL-Result-Top .TL-Result-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.TL-Result .TL-Result-Top .TL-Result-card li {
  text-align: center;
  flex: 1;
}
.TL-Result .TL-Result-Top .TL-Result-card li h2 {
  font-size: 0.68rem;
  font-weight: normal;
  line-height: normal;
  color: #fff;
  padding: 1.94rem 0 0.4rem;
  box-sizing: border-box;
}
.TL-Result .TL-Result-Top .TL-Result-card li .TL-Result-card-img {
  width: 3.36rem;
  height: 5.4rem;
}
.TL-Result .TL-Result-Top .TL-Result-card li .TL-Result-card-tip {
  margin-top: 0.3rem;
  margin-left: 1rem;
  display: flex;
  align-items: center;
}
.TL-Result .TL-Result-Top .TL-Result-card li .TL-Result-card-tip span {
  color: #fff;
  font-size: 0.68rem;
}
.TL-Result .TL-Result-Top .TL-Result-card li .TL-Result-card-tip img {
  margin-left: 0.2rem;
  width: 1rem;
  height: 1rem;
}
.TL-Result .TL-Result-Top .TL-Result-KeyWord {
  text-align: center;
  padding: 1rem 0 1.4rem;
  box-sizing: border-box;
}
.TL-Result .TL-Result-Top .TL-Result-KeyWord img {
  width: 10.84rem;
  height: 1.4rem;
}
.TL-Result .TL-Result-Top .TL-Result-KeyWord p {
  font-size: 0.64rem;
  color: #fff;
  padding-top: 0.8rem;
}
.TL-Result .TL-Result-jiexi {
  margin: 0 0.46rem 1.2rem;
}
.TL-Result .TL-Result-jiexi .TL-Result-jiexi-img {
  width: 10.84rem;
  height: 1.4rem;
  margin-left: 1.5rem;
}
.TL-Result .TL-Result-jiexi .TL-Result-Item {
  margin-top: 0.6rem;
  background: rgba(47, 15, 93, 0.7);
  padding: 0.72rem 0.54rem;
  box-sizing: border-box;
}
.TL-Result .TL-Result-jiexi .TL-Result-Item .TL-Result-Item-Top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px dotted #752EE9;
}
.TL-Result .TL-Result-jiexi .TL-Result-Item .TL-Result-Item-Top h1 {
  font-size: 0.64rem;
  color: #fff;
}
.TL-Result .TL-Result-jiexi .TL-Result-Item .TL-Result-Item-Top div img {
  width: 0.56rem;
  height: 0.56rem;
}
.TL-Result .TL-Result-jiexi .TL-Result-Item .TL-Result-Item-content {
  color: #D5C4FF;
  font-size: 0.44rem;
  padding-top: 0.72rem;
  line-height: 25px;
}
.dialogvisible1 {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1000;
}
.dialogvisible1 .content {
  background: url("../img/TL-Result-shareImg.png");
  position: absolute;
  top: 5.64rem;
  left: 50%;
  transform: translateX(-50%);
  width: 10.4rem;
  height: 15.24rem;
  border-radius: 10px;
}
.dialogvisible1 .content .content-cloose {
  width: 100%;
  height: 0.92rem;
  padding-right: 0.12rem;
}
.dialogvisible1 .content .content-cloose img {
  float: right;
  height: 0.92rem;
  height: 100%;
}
.dialogvisible1 .content .TL-Result-shareImg {
  width: 4.8rem;
  height: 7.68rem;
}
.dialogvisible1 .content .TL-Result-shareKeyWord {
  padding-left: 3.8rem;
  text-align: center;
  background: url('../img/TL-share-titleBg.png') center center no-repeat;
  background-size: 10.24rem 1.32rem;
  display: flex;
  align-items: center;
}
.dialogvisible1 .content .TL-Result-shareKeyWord span {
  color: #fff;
  font-size: 0.68rem;
  padding-right: 0.2rem;
}
.dialogvisible1 .content .TL-Result-shareKeyWord img {
  width: 1rem;
  height: 1rem;
}
.dialogvisible1 .content .TL-Result-shareTitle {
  color: #CDADFF;
  font-size: 0.44rem;
  padding: 0.68rem 0.9rem;
  text-overflow: -o-ellipsis-lastline;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.dialogvisible1 .content .TL-Result-shareTitle span {
  font-size: 0.56rem;
  color: #fff;
}
.dialogvisible1 .content .TL-Result-shareCode {
  padding: 0.4rem 0.9rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.dialogvisible1 .content .TL-Result-shareCode p {
  color: #fff;
  font-size: 0.32rem;
}
.dialogvisible1 .content .TL-Result-shareCode p span {
  font-size: 0.68rem;
}
.dialogvisible1 .content .TL-Result-shareCode img {
  width: 1.28rem;
  height: 1.28rem;
}
.dialogvisible1 .footer {
  width: 6.8rem;
  height: 1.24rem;
  background: linear-gradient(-51deg, #8E3BED, #9C52EF);
  border-radius: 0.6rem;
  position: absolute;
  bottom: -2rem;
  left: 50%;
  transform: translateX(-50%);
  font-size: 0.44rem;
  color: #fff;
  line-height: 1.24rem;
  text-align: center;
}
.resultWarp {
  position: relative;
}
.resultWarp .topShare {
  position: absolute;
  top: 0.6rem;
  right: 0.4rem;
  z-index: 99999;
}
.resultWarp .topShare img {
  width: 1.2rem;
  height: 1.2rem;
}
