<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="./css/style.css">
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <title>轻游测算</title>
</head>

<body>

    <div id='index'>
        <div class="topHeader">
            <div class="topContent">
                <a href="#"></a>
                <span href="" class="headerTittle">轻游测算</span>
                <a href="#"></a>
            </div>
        </div>

        <!-- banner -->
        <div class="banner">
            <img v-for="(v,i) in imgArr" :key="i" :src="v.logo" v-show="n==i">
            
            <div class="banner-circle">
                <ul>
                    <li v-for="(v,i) in imgArr" :key="i" :class="n==i?'selected':''"></li>
                </ul>
            </div>
        </div>

        <div class="nav">
            <a href="./taluo/taluo.html">
                <img src="./img/taluo.png" alt="" srcset="">
                <span>今日塔罗</span>
            </a>
            <a href="./hehun/hehun.html">
                <img src="./img/ba.png" alt="" srcset="">
                <span>八字合婚</span>
            </a>
            <a href="./yinyuan/marriage.html">
                <img src="./img/yin.png" alt="" srcset="">
                <span>美好姻缘</span>
            </a>
            <a href="./xingzuo/choose.html">
                <img src="./img/xingzuo.png" alt="" srcset="">
                <span>星座运势</span>
            </a>
        </div>

        <div class="ad">
            <div class="item">
                <div class="heng"></div>
                <div class="item-title">今日塔罗</div>
                <div class="heng"></div>
            </div>
            <div>
                <a href="./taluo/taluo.html"><img src="./img/ta.png" alt="" srcset=""></a>
            </div>
        </div>
        <div class="ad">
            <div class="item">
                <div class="heng"></div>
                <div class="item-title">星座运势</div>
                <div class="heng"></div>
            </div>
            <div>
                <a href="./xingzuo/choose.html"><img src="./img/xing.png" alt="" srcset=""></a>
            </div>
        </div>
        <div class="ad">
            <div class="item">
                <div class="heng"></div>
                <div class="item-title">八字合婚</div>
                <div class="heng"></div>
            </div>
            <div>
                <a href="./hehun/hehun.html"><img src="./img/xi.png" alt="" srcset=""></a>
            </div>
        </div>
        <div class="ad">

            <div class="item">
                <div class="heng"></div>
                <div class="item-title">我的姻缘</div>
                <div class="heng"></div>
            </div>
            <div>
                <a href="./yinyuan/marriage.html"><img src="./img/yuan.png" alt="" srcset=""></a>
            </div>
        </div>

        <div class="footer">
            我已经到底啦!
        </div>
    </div>

    <script src="https://cdn.staticfile.org/vue/2.4.2/vue.min.js"></script>
    <script>
        var vue = new Vue({
            el: '#index',
            data: {
                n: 0,
                imgArr: []
            },
            methods: {
                play() {
                    this.timer = setInterval(this.autoPlay, 2000)
                },
                autoPlay() {
                    this.n++;
                    if (this.n == this.imgArr.length) {
                        this.n = 0;
                    }
                }
            },

            mounted: function () { 
                this.play();

                //banner接口
                axios.post('http://h5.anhuiqingyou.com/ban')
                    .then((res) => {
                        console.log(res,'banner')
                        this.imgArr=res.data.data.list
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
            },


            destroyed: function () { //销毁
                clearInterval(this.timer)
            }
        })
    </script>
</body>

</html>