<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../css/style.css">
    <script src="../js/html2canvas.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <title>星座运势</title>
</head>

<body>
    <div class="resultWarp" id='result'>
        <!-- <div class="topHeader">
            <div class="topContent">
                <a href="#" class="topHeaderLeft" onClick="javascript :history.back(-1)">
                    <img src="../img/arr-left.png" alt="" srcset="">
                </a>
                <span href="" class="headerTittle">星座解析</span>
                <a href="#" @Click="btnDialog">
                    <img src="../img/share.png" alt="" srcset="">
                </a>
            </div>
        </div> -->

        <a href="#" class="topShare" id="showdialogvisible" @Click="btnDialog">
            <img src="../img/share.png" alt="" srcset="">
        </a>
        <a href="./tomm.html" class="tommory">
            <img src="../img/tomm.png" alt="" srcset="">
            <p>明日运势</p>
        </a>

        <div class="XZ-Analysis">
            <div class="XZ-Analysis-Top">
                <img :src="xzItem.big_logo" alt="" srcset="">
                <span> {{xzItem.name}}</span>
                <span> {{xzItem.betweens}}</span>
            </div>
        </div>



        <div class="XZ-AnalysisMiddle">
            <div class="XZ-AnalysisMiddle-Content">
                <ul class="XZ-item">
                    <li>
                        <span>幸运值</span>
                        <p>{{xzList.xyz}}</p>
                    </li>
                    <li>
                        <span>爱情指数</span>
                        <p>{{xzList.aqzs}}</p>
                    </li>
                    <li>
                        <span>工作指数</span>
                        <p>{{xzList.gzzs}}</p>
                    </li>
                    <li>
                        <span>财运指数</span>
                        <p>{{xzList.cyzs}}</p>
                    </li>
                    <li>
                        <span>健康指数</span>
                        <p>{{xzList.jkzs}}</p>
                    </li>
                    <li>
                        <span>幸运数字</span>
                        <p>{{xzList.xysz}}</p>
                    </li>
                    <li>
                        <span>幸运颜色</span>
                        <p>{{xzList.color}}</p>
                    </li>
                    <li>
                        <span>贵人星座</span>
                        <p>{{xzList.peixz}}</p>
                    </li>
                </ul>
            </div>
            <div class="XZ-fenxi">

                <div class="XZ-fenxi-top">
                    <h1>综合运势</h1>
                    <div>
                        <img :src="v" alt="" srcset="" v-for='(v,i) in xzList.zh_zs' :key='i'>
                    </div>
                </div>
                <div class="XZ-fenxi-content">{{xzList.zhys}}</div>
            </div>

            <div class="XZ-fenxi">
                <div class="XZ-fenxi-top">
                    <h1>爱情运势</h1>
                    <div>
                        <img :src="v" alt="" srcset="" v-for='(v,i) in xzList.ay_zs' :key='i'>
                    </div>
                </div>
                <div class="XZ-fenxi-content">{{xzList.aqys}}</div>
            </div>

            <div class="XZ-fenxi">
                <div class="XZ-fenxi-top">
                    <h1>事业运势</h1>
                    <div>
                        <img :src="v" alt="" srcset="" v-for='(v,i) in xzList.sy_zs' :key='i'>

                    </div>
                </div>
                <div class="XZ-fenxi-content">{{xzList.syys}}</div>
            </div>
            <div class="XZ-fenxi">
                <div class="XZ-fenxi-top">
                    <h1>财富运势</h1>
                    <div>
                        <img :src="v" alt="" srcset="" v-for='(v,i) in xzList.cf_zs' :key='i'>
                    </div>
                </div>
                <div class="XZ-fenxi-content">{{xzList.cfys}}</div>
            </div>
            <div class="XZ-fenxi">
                <div class="XZ-fenxi-top">
                    <h1>健康运势</h1>
                    <div>
                        <img :src="v" alt="" srcset="" v-for='(v,i) in xzList.jk_zs' :key='i'>

                    </div>
                </div>
                <div class="XZ-fenxi-content">{{xzList.jkys}}</div>
            </div>

        </div>
        <!-- 弹框 -->
        <div class="HH-Dialog canvas" v-show='tankuang' ref="canvas">
            <div class="content XZ-Dialog-Bg" ref="capture">
                <div class="content-close">
                    <img src="../img/close.png" alt="" @click="hideDialog">
                </div>
                <div class="content-tittle pt30">星座解析</div>
                <div class="content-text">
                    {{xzList.zhys}}
                </div>
                <div class="HH-code">
                    <p><span>{{day}}</span>{{year}} {{month}}</p>
                    <img src="../img/code.jpg" alt="" srcset="">
                </div>

                <div class="footer XZ-footerBg " @click="savecanvas">保存到相册转发朋友圈或好友</div>
            </div>

        </div>
    </div>


    <script src="https://cdn.staticfile.org/vue/2.4.2/vue.min.js"></script>
    <script>
        var vue = new Vue({
            el: '#result',
            data: {
                xzItem: [],
                xzList: [],
                tankuang: false,
                year: '',
                month: '',
                day: ''

            },
            methods: {
                // 保存图片
                savecanvas() {
                    let canvas = document.querySelector('.canvas');
                    let that = this;
                    html2canvas(canvas, {
                        scale: 2,
                        logging: false,
                        useCORS: true
                    }).then(function (canvas) {
                        let type = 'png';
                        let imgData = canvas.toDataURL(type, 0.5);
                        // 照片格式处理
                        let _fixType = function (type) {
                            type = type.toLowerCase().replace(/jpg/i, 'jpeg');
                            let r = type.match(/png|jpeg|bmp|gif/)[0];
                            return 'image/' + r;
                        };
                        imgData = imgData.replace(_fixType(type), 'image/octet-stream');

                        let filename = "qingyou" + '.' + type;
                        that.saveFile(imgData, filename);
                    });
                },
                saveFile(data, filename) {
                    let save_link = document.createElementNS('http://www.w3.org/1999/xhtml', 'a');
                    save_link.href = data;
                    save_link.download = filename;

                    let event = document.createEvent('MouseEvents');
                    event.initMouseEvent('click', true, false, window, 0, 0, 0, 0, 0, false, false, false,
                        false, 0, null);
                    save_link.dispatchEvent(event);
                },




                hideDialog() {
                    this.tankuang = false
                },
                btnDialog() {

                    this.tankuang = true;
                },





            },

            mounted: function () {

                //星座解析
                axios.post('http://h5.anhuiqingyou.com/xingzuo/info', {
                        id: localStorage.getItem('id')
                    })
                    .then((res) => {
                        console.log(res, '星座解析')
                        if (res.data.code == 0) {
                            this.xzItem = res.data.data.xingzuo
                            this.xzList = res.data.data.today_info
                            var DataT = res.data.data.today_info.create_time

                            var date = new Date(DataT);
                            this.year = date.getYear() + 1900;
                            this.month = date.getMonth() + 1;
                            this.day = date.getDate();
                            if (this.month == '1') {
                                this.month = 'Jan.'
                            } else if (this.month == '2') {
                                this.month = 'Feb.'
                            } else if (this.month == '3') {
                                this.month = 'Mar.'
                            } else if (this.month == '4') {
                                this.month = 'Apr.'
                            } else if (this.month == '5') {
                                this.month = 'May.'
                            } else if (this.month == '6') {
                                this.month = 'Jun. '
                            } else if (this.month == '7') {
                                this.month = 'Jul.'
                            } else if (this.month == '8') {
                                this.month = 'Aug. '
                            } else if (this.month == '9') {
                                this.month = 'Sep.'
                            } else if (this.month == '10') {
                                this.month = 'Oct.'
                            } else if (this.month == '11') {
                                this.month = 'Nov. '
                            } else {
                                this.month = 'Dec.'
                            }

                        }

                    })
                    .catch(function (error) {
                        console.log(error);
                    });
            },

        })
    </script>





</body>

</html>