<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>塔罗</title>
    <link rel="stylesheet" href="../css/WKstyle.css">
</head>

<body>
    <div v-clock class="app">
        <div class="topHeader">
            <div class="topContent">
                <a href="#" class="topHeaderLeft" onClick="javascript :history.back(-1)">
                    <img src="../img/arr-left.png" alt="" srcset="">
                </a>
                <span href="" class="headerTittle">您的测算结果</span>
                <a href="#" class="topHeaderRight"></a>
            </div>
        </div>
        <!-- 卡池 -->
        <div class="box-card">
            <ul class="card">
                <li v-for="(item,index) in cardList" :key="index">
                    <div class="card-cell">
                        <p>{{item}}</p>
                        <div>
                            <img width="100%" height="100%" ref="chooseItemImg" src="#" alt="#">
                        </div>
                        <p><span>太阳</span> <img width="50rem/50" height="50rem/50" src="../img/TL-Result-Zheng.png" alt=""
                                srcset="">
                        </p>
                    </div>
                </li>
                <!-- <img v-else src="../img/TL-Result-fan.png" alt="" srcset=""> -->
            </ul>
        </div>
        <!-- 洗牌 -->
        <div v-show="ISZPrefresh==true" class="ZPrefresh">
            <div class="ZPrefresh-top">
                <input type="text" v-model="username" placeholder="请输入姓名">
                <span class="hv" @click="showCard">点击抽牌</span>
            </div>
            <div class="ZPrefresh-bot">输入姓名后可抽牌</div>
        </div>
        <div v-show="ISZPrefresh==false" class="ZPrefresh"> <span class="hv analyse" @click="handleAnalyse">查看解析</span>
        </div>
        <!-- 抽牌 -->
        <div class="choose-card">
            <ul>
                <li ref="chooseItem" @click="handleCard(index)" v-for="(index,item) in 6" :key="index">
                    <img :src="imgurl" alt="">
                </li>
            </ul>
        </div>
        <div class="footer" style="display: none;">
            摒弃杂念选出一张卡牌
        </div>
        <!-- 提示框 -->
        <div class="showModle"></div>
    </div>
    <script src="https://cdn.staticfile.org/vue/2.4.2/vue.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="../js/http.js"></script>
    <script>
        let vue = new Vue({
            el: ".app",
            data: {
                cardList: ["爱情", "财富", "事业"],
                imgurl: "../img/kapai.png",
                placeCard: [
                    {
                        top: "0", left: "-10rem"
                    },
                    {
                        top: "0", left: "10rem"
                    },
                    {
                        top: "10rem", left: "-10rem"
                    },
                    {
                        top: "10rem", left: "0"
                    },
                    {
                        top: "10rem", left: "10rem"
                    },
                ],
                username: "",
                cardInfo: {},
                active: -1,
                ISZPrefresh: true
            },
            methods: {
                showCard() {
                    if (this.username) {
                        this.ISZPrefresh = false
                        let cardItem = this.$refs.chooseItem
                        for (let i = 0; i < cardItem.length; i++) {
                            cardItem[i].style.top = this.placeCard[i].top
                            console.log(this.placeCard[i].top)
                            cardItem[i].style.left = this.placeCard[i].left
                        }
                    } else {
                        showModel("请输入姓名")
                    }
                },
                handleCard(index) {
                    if (this.active >= 2) {
                        return showModel("最多选择三张卡牌")
                    }
                    let chooseItemImg = this.$refs.chooseItemImg
                    this.active += 1
                    let Url = "http://h5.anhuiqingyou.com/taluo/index"
                    let params = {
                        name: this.username
                    }
                    axiosPostRequst(Url, params).then(res => {
                        console.log(res.code == 0)
                        if (res.code == 0) {
                            let data = res.data
                            switch (this.active) {
                                case 0: chooseItemImg[this.active].src = data.aq.aq_logo
                                    break;
                                case 1: chooseItemImg[this.active].src = data.cf.cf_logo
                                    break;
                                case 2: chooseItemImg[this.active].src = data.sy.sy_logo
                                    break;
                            }

                        }
                    })
                },
                handleAnalyse() {
                    if (this.active < 2) {
                        return showModel("请选择三张牌")
                    }
                    window.location.href = "./taluoresult.html?name=" + this.username
                }
            }
        })
        // $(".choose-card").click(function(){
        //     $(".choose-item").animate({
        //         position:"absolute",

        //     })
        // })
        // function ainimate(){

        // }
    </script>

</html>